{% if error %}
    <div class="text-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form id="login_form" action="{{ path("fos_user_security_check") }}" method="post">    
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <table>
        <tr>
            <td>
				<img alt="" src="{{ asset('build/static/login-page-images/login-icon.jpg') }}" class="img-fluid "/>
                <br class="d-md-none" />
				<label for="username">{{ 'profile.show.email'|trans({}, 'FOSUserBundle')}}</label>
			</td>
            
            <td>
				<input class="form-control text-left" type="text" id="username" name="_username" value="{{ last_username }}" />
			</td>
        </tr>
        <tr>
            <td>
                <img alt="" src="{{ asset('build/static/login-page-images/password-icon.jpg') }}" class="img-fluid  "/>
                <br class="d-md-none" />
				<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
			</td>
            
            <td><input class="form-control" type="password" id="password" name="_password" /></td>
        </tr>
        <tr>
            <td></td>
        </tr>  
        <tr>
            <td></td>
            <td class="text-right">
                <button type="submit" class="btn btn-dark">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
             </td>
        </tr> 
    </table>    
</form>
