{% extends 'layout_bootstrap.html.twig'%}

{% block content %}
    <div class="col-6 text-left mt-2">
        <table class="table table-light table-sm table-borderless">
            <thead class="table-info">
                <tr>
                    <th class="th p-2">Basic Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button onclick="actionAjaxEditUser(this)" type="button" class="btn btn-warning btn-primary">Save</button>
                        {{ form_end(form) }}
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <div class="col-12 text-left mt-2">
        <table class="table table-light table-sm table-borderless">
            <thead class="table-info">
                <tr>
                    <th class="th p-2">Passengers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table table-striped table-light w-100">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Firstname</th>
                                    <th>Surname</th>
                                    <th>Passport ID</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for passenger in passengers %}
                                    <tr>
                                        <td>{{ passenger.title }}</td>
                                        <td>{{ passenger.firstname }}</td>
                                        <td>{{ passenger.surname }}</td>
                                        <td>{{ passenger.passportId }}</td>
                                        <td>
                                            <button onclick="showConfirmModal('Are you sure?',actionAjaxPassengerRemove,[{{ passenger.id }},this])" type="button" class="btn btn-danger btn-primary ">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">
                                    <button onclick="actionAjaxNewPassenger(this)" type="button" class="btn btn-success btn-primary">
                                        Add
                                    </button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-12 text-left mt-2">
        <table class="table table-light table-sm table-borderless">
            <thead class="table-info">
            <tr>
                <th class="th p-2">Trips</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <table class="table table-striped table-light w-100">
                        <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Passengers</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.fromAirport }}</td>
                                <td>{{ trip.toAirport }}</td>
                                <td>{{ trip.departure | date('Y-m-d H:i:s') }}</td>
                                <td>{{ trip.arrival | date('Y-m-d H:i:s') }}</td>
                                <td>{{ trip.passengers | join(', ') }}</td>
                                <td>
                                    <button onclick="showConfirmModal('Are you sure?',actionAjaxTripRemove,[{{ trip.id }},this])" type="button" class="btn btn-danger btn-primary ">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                <button onclick="actionAjaxNewTrip(this)" type="button" class="btn btn-success btn-primary">
                                    Add
                                </button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

{% endblock %}
