<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content-language" content="pl"/>

    <title>{% block title %}Customer Portal{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('build/layout.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<div class="container-fluid " id="header-container">
    <div class="row">
        <div class="col-6 text-left border-bottom">
            <h1>Customer Portal</h1>
        </div>
        <div class="col-6 text-right border-bottom">
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-menu-1 bg-transparent m-0 p-0 border-0">Logout</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left border-bottom">
            {% block breadcrumbs %}{% endblock %}
        </div>
    </div>
</div>

<div class="container-fluid" id="menu-content-container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="modal" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="info-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div id="confirm-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                <button id="confirm-modal-yes-btn" type="button" class="btn btn-success" data-dismiss="modal">YES</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
{% endblock %}
</body>
</html>