<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content-language" content="pl"/>

    <title>{% block title %}Customer Portal{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('build/layout.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<div class="container-fluid sticky-top" id="header-container">
    <div class="row">
        <div class="col-6 text-left border-bottom">
            <h1>Customer Portal</h1>
        </div>
        <div class="col-6 text-right border-bottom">
            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-menu-1 bg-transparent m-0 p-0 border-0">Logout</a>
        </div>
    </div>
</div>

<div class="container-fluid" id="menu-content-container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/layout.js') }}"></script>
{% endblock %}
</body>
</html>